%h1 Favorites
-if @favorites
  %table.table.table-striped
    %tbody
    -@favorites.each do |fav|
      %tr
        %td Gem
        %td=fav.ruby_gem.name.capitalize
      %tr
        %td Description
        %td=fav.ruby_gem.info
      %tr
