%h1 Favorites
-if @favorites
  -@favorites.each do |fav|
    %table.table.table-striped
      %tbody
        %tr
          %td Gem
          %td=fav.ruby_gem.name.capitalize
        %tr
          %td Description
          %td=fav.ruby_gem.info
        %tr
