
.center.hero-unit
  %h1 Welcome to Inclusion Rails!
  %h3
    Search for a gem, or upload your Gemfile to view those gems.
    %br
= link_to image_tag("rubies.jpg", alt: "Rubies", class: "img-rounded")
