%h1 My Projects
%h4=link_to "Add New Project", projects_new_path
%br
%h3 Current Projects


-if @projects
  %table.table.table-striped
    %tbody
    -@projects.each do |project|
      %tr
        %td= link_to "#{project[:title]}", projects_show_path
