%h1 My Projects
%h4=link_to "Add New Project", projects_new_path
%br
%h3 Current Projects



%table.table.table-striped
  %tbody
    %tr
      %td Project Name
      %td Edit
      %td Delete
    %tr


-# -if @projects
-#   -@projects.each do |project|
-# =link_to "#{project.name.capitalize}", projects_show_path
