%h1 Add New Project
.well.well-lg
  .form-search
    =form_tag projects_create_path, method: :get do
      =text_area_tag :ruby_gem, "", :rows => "20", :cols => "130"
      =submit_tag "Find Gem", class: "btn btn-info"
